{% extends "layout.jinja2" %}

{% block body %}
<div class="content" id="_404">
  <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Alchemy scaffold</span></h1>
  <p class="lead"><span class="font-semi-bold">4<span class="red_text">0</span>4</span> Page Not Found</p>
</div>
{% endblock body %}
