{% extends "layout.jinja2" %}
{% block body %}
<article id="blog_post_detail">
    <h2 id="detail_title">{{ entry.title }}</h2>
    <div id="detail_body">
        {{ entry.body }}
    </div>
    <div id="detail_date">{{ entry.creation_date }}</div>
    <a id="edit_button" href="{{ request.route_url('edit-entry', id=entry.id) }}" "email me">edit</a>
</article>
{% endblock %}