<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>smells_like_snakes()</title>
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo" rel="stylesheet" type="text/css"/>
</head>
    <body>
        <div id="header">
        <br>
        <br>
        </div>
        <div class="container">
            <article id="blog_post_detail">
                <h2 id="detail_title">Blog post title </h2>
                <div id="detail_body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium nesciunt quod eveniet, quas, molestias et veritatis at similique sequi doloribus ducimus, mollitia quo amet, eius nobis quibusdam impedit voluptatem?<br><br>

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi perspiciatis alias, voluptate repudiandae voluptas. Quia, consectetur. Error, dignissimos! Laudantium labore tempore quasi ea recusandae ducimus eius vero, quas dolores provident.<br><br>

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nostrum eaque totam fuga facilis in minima eius, impedit a ullam voluptatibus aperiam maxime adipisci, nam nemo tempora fugit amet commodi?
                </div>
            </article>
            <aside id="sidebar">
                <a href="index.html" id="site_title"><h1> &nbsp;>>> smells_like_snakes()</h1></a>
                <h4>recent.posts</h4>
                <div id="post_links" class="">
                    <a href="x">blog post</a><b>
                    <a href="x">blog post</a><b>
                    <a href="x">blog post</a><b>
                </div>
                <br>
                <h4>about</h4>
                <div id="about_links">
                    <a href="x">me</a><br>
                    <a href="https://www.linkedin.com/in/gabriel-meringolo-3123b6120">linkedin</a><br>
                    <a href="https://github.com/gabrielx52"> github</a><br>
                </div>
            </aside>
        </div>
    </body>
</html>