{% extends "layout.jinja2" %}
{% block body %}
<article id="edit_form">
    <form action="post">
        <input id="title_form" type="text" value="">
        <input id="body_form" type="text" value="">
        <a id="save_button" href="">save changes</a>
    </form>
</article>
{% endblock %}