{% extends "layout.jinja2" %}
{% block body %}
<form method="POST" id="input_form">
        <input name="title" id="title_form" type="text" value="{{ entry.title }}">
        <textarea name="body" id="body_form" type="text">{{ entry.body }}</textarea>
        <input type="submit" id="save_button" value="save changes" />
</form>
{% endblock %}