<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>smells_like_snakes()</title>
    <link rel="stylesheet" type="text/css" href="../static/reset.css" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link href="//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo" rel="stylesheet" type="text/css"/>
</head>
    <body>
        <div id="header">
        <br>
        <br>
        </div>
        <div class="container">
            <article id="edit_form">
                
                <input id="title_form" type="text">
                <input id="body_form" type="text">

            </article>

            </article>
            <aside id="sidebar">
                <a href="/" id="site_title"><h1> &nbsp;>>> smells_like_snakes()</h1></a>
                <a href="/journal/new-entry"><h4>new.post()</h4></a>
                <h4>recent.posts</h4>
                <div id="post_links" class="">
                    <a href="x">blog post</a><b>
                    <a href="x">blog post</a><b>
                    <a href="x">blog post</a><b>
                </div>
                <br>
                <h4>about</h4>
                <div id="about_links">
                    <a href="x">me</a><br>
                    <a href="https://www.linkedin.com/in/gabriel-meringolo-3123b6120">linkedin</a><br>
                    <a href="https://github.com/gabrielx52"> github</a><br>
                </div>
            </aside>
        </div>
    </body>
</html>