{% extends "layout.jinja2" %}
{% block body %}
<article id="blog_posts">
    <div class="post_header">
        <h2 class="post_title">Blog post title</h2>
        <sub>plog post date</sub>
    </div>
    <div class="post_header">
        <h2 class="post_title">Blog post title</h2>
        <sub>plog post date</sub>
    </div>
    <div class="post_header">
        <h2 class="post_title">Blog post title</h2>
        <sub>plog post date</sub>
    </div>
    <div class="post_header">
        <h2 class="post_title">Blog post title</h2>
        <sub>plog post date</sub>
    </div>
    <div class="post_header">
        <h2 class="post_title">Blog post title</h2>
        <sub>plog post date</sub>
    </div>
    <div class="post_header">
        <h2 class="post_title">Blog post title</h2>
        <sub>plog post date</sub>
    </div>
</article>
{% endblock %}