{% extends "layout.jinja2" %}
{% block body %}
<article id="blog_posts">
    {% for entry in entries | reverse  %}
    <div class="post_header">
        <a href="{{ request.route_url('post', id=entry.id) }}"><h2 class="post_title">{{ entry.title }}</h2></a>
        <sub>{{ entry.creation_date }}</sub>
    </div>
    {% endfor %}
</article>
{% endblock %}