{% extends "layout.jinja2" %}
{% block body %}
<article id="new_entry_form">
    <input id="title_form" type="text">
    <input id="body_form" type="text">
    <a id="save_button" href="">new entry</a>
</article>
{% endblock %}
