{% extends "layout.jinja2" %}
{% block body %}
<form method="POST" id="input_form">
    <input id="title_form" type="text" placeholder="title" name="title" />
    <textarea id="body_form" type="text" placeholder="new entry" name="body"></textarea>
    <input type="submit" id="save_button" value="new entry"/>
</form>
{% endblock %}
